.header {
        background-color: navy;    
        padding: 20px;
        text-align: center;
        font-size: 48;

}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}